/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/* Calendar element */
.smooth-calendar {
	width: 100%;
}

/* Month header */
.smooth-cal__header {
	position: relative;
	padding: 1em;
 	background: #ccc;
 	text-align: center;
 	border: 0 solid black;
    border-width: 1px 1px 0 1px;
}

/* Month title */
.smooth-cal__month {
	margin: 0 !important;
	text-transform: uppercase;
 	color: #000;
 	font-weight: bold;
 	font-size: 1.5em;
}

/* Prev/next arrows */
.smooth-cal__prev,
.smooth-cal__next {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 18px;
	height: 4px;
	text-decoration: none;
	border: 0 !important;
	font-size: 0;
}

@media all and (min-width: 500px) {
	.smooth-cal__prev,
	.smooth-cal__next {
		width: 21px;
		height: 4px;
	}
}

@media all and (min-width: 500px) {
	.smooth-cal__prev,
	.smooth-cal__next {
		width: 25px;
		height: 5px;
	}
}

.smooth-cal__prev::before,
.smooth-cal__next::before{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 51%;
	height: 100%;
	background: black;
	-webkit-transform: skew(0deg, 40deg);
	-moz-transform: skew(0deg, 40deg);
	-ms-transform: skew(0deg, 40deg);
	transform: skew(0deg, 40deg);
}

.smooth-cal__prev::after,
.smooth-cal__next::after{
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	background: black;
	-webkit-transform: skew(0deg, -40deg);
	-moz-transform: skew(0deg, -40deg);
	-ms-transform: skew(0deg, -40deg);
	transform: skew(-0deg, -40deg);
}

.smooth-cal__prev {
	left: 16px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.smooth-cal__next {
	right: 16px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.smooth-cal__next::before {
	right: 0;
}

.smooth-cal__next::after {
	right: 0;
}

/* Sun - Sat labels */
.smooth-cal__labels {
	margin: 0;
	padding: 0;
	list-style: none;
	border: 0 solid black;
}

.smooth-cal__labels li {
	float: left;
	width: 14.286%;
	text-align: center;
	border: 0 solid black;
    border-width: 1px 1px 1px 0;
    background: #eee;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.smooth-cal__labels li:first-child {
	border-left: 1px solid black;
}

/* Day cells */
.smooth-cal__days {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* Day cell */
.smooth-cal__days li {
	position: relative;
	float: left;
	width: 14.286%;
	height: 3.125em;
	border: 0 solid black;
    border-width: 0 1px 1px 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

@media all and (min-width: 500px) {
	.smooth-cal__days li {
		height: 5.125em;
	}
}

@media all and (min-width: 768px) {
	.smooth-cal__days li {
		height: 8.125em;
	} 	
}

.smooth-cal__days li:nth-child(7n + 1) {
	border-left: 1px solid black;
}

.smooth-cal__trigger {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #3498db;
	border-bottom: 0 !important;
}

.smooth-cal__trigger::before {
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	z-index: 2;
	width: 100%;
	height: 100%;
}

.smooth-cal__trigger + .smooth-cal__day {
	background: #3498db;
	color: #fff;
}

@media all and (min-width: 768px) {
	.smooth-cal__trigger {
		display: none;
	}

	.smooth-cal__trigger + .smooth-cal__day {
		background: #eee;
		color: inherit;
	}
}

/* Day of month in cell */
.smooth-cal__day {
	position: absolute;
	top: 1px;
	left: 0;
	z-index: 1;
	padding: 5px 10px;
	font-weight: bold;
	font-size: .875em;
	line-height: 1;
	background: #eee;
	text-align: center;
}

/* Inner container of cell */
.smooth-cal__inner {
	display: none;
	padding: 2.25em .5em 1em;
	font-size: 16px;
	line-height: 1.2;
}

@media all and (min-width: 768px) {
	.smooth-cal__inner {
		display: block;
	}
}

.expanded .smooth-cal__inner {
	display: block;
	position: absolute;
	top: 2.8em;
	z-index: 2;
	width: 15em;
	background: #fff;
	border: 1px solid #000;
}

@media all and (min-width: 500px) {
	.expanded .smooth-cal__inner {
		top: 4.7em;
	}
}

/* First day */
.smooth-cal__days li.expanded:nth-child(7n+1) .smooth-cal__inner {
	left: 0;
}

/* Second day */
.smooth-cal__days li.expanded:nth-child(7n+2) .smooth-cal__inner {
	left: 0;
}

/* Third day */
.smooth-cal__days li.expanded:nth-child(7n+3) .smooth-cal__inner {
	left: -63px;
}

/* Fourth day */
.smooth-cal__days li.expanded:nth-child(7n+4) .smooth-cal__inner {
	left: 50%;
	transform: translateX(-50%);
}

/* Fifth day */
.smooth-cal__days li.expanded:nth-child(7n+5) .smooth-cal__inner {
	right: -63px;
}

/* Sixth day */
.smooth-cal__days li.expanded:nth-child(7n+6) .smooth-cal__inner {
	right: 0;
}

/* Seventh day */
.smooth-cal__days li.expanded:nth-child(7n+7) .smooth-cal__inner {
	right: 0;
}

/* Event row in cell */
.smooth-cal__event {
	position: relative;
	margin: 0 0 1em;
}

.smooth-cal__event:hover .smooth-cal__deets {
	display: block;
}

/* Link inside cell */
.smooth-cal__link {
	font-size: 14px;
	text-decoration: none;
}

@media all and (min-width: 768px) {
	.smooth-cal__link {
		display: block;
		width: 100%;
		overflow: hidden;
		white-space: nowrap;
	}
}

/* Event details tooltip */
.smooth-cal__deets {
	display: none;
	position: absolute;
	z-index: 2;
	bottom: 100%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 20em;
	max-width: 20em;
	padding: 1em;
	background: #fff;
	box-shadow: 0 0 3px rgba(0, 0, 0, .3);
	border: 1px solid black;
}

.smooth-cal__deets p {
	margin: 0 0 .75em;
	font-size: 14px;
}

.smooth-cal__event .smooth-cal__deets h4 {
	margin: 0 0 1em;
	font-size: 18px;
}